h1, p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

.content-container {
    background-color: white;
    border: 1px solid rgb(189, 179, 179);
    border-radius: 15px;
}

.search-icon {
    pointer-events: none;
}

.bg-light {
    background-color: #f8f9fa !important;
}


